<!doctype html>
<html lang="uk">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Курс Python - WebTeach</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600&family=Ruda:wght@400;500;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/src/python-course/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="container-xl">
      <a class="navbar-brand logo" href="../"><span>Web</span>Teach</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto mt-2 mt-lg-0" >
          <a class="nav-item nav-link" href="../index.html#course" title="Перейти до курсу Python">Курс<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link conf-button active" title="Перейти до онлайн-уроку" href="https://meet.jit.si/teach-py-222" target="_blank">
            <svg class="bi bi-camera-video-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.667 3h6.666C10.253 3 11 3.746 11 4.667v6.666c0 .92-.746 1.667-1.667 1.667H2.667C1.747 13 1 12.254 1 11.333V4.667C1 3.747 1.746 3 2.667 3z"/>
              <path d="M7.404 8.697l6.363 3.692c.54.313 1.233-.066 1.233-.697V4.308c0-.63-.693-1.01-1.233-.696L7.404 7.304a.802.802 0 0 0 0 1.393z"/>
            </svg>
            Онлайн-урок</a>
          <a class="nav-item nav-link" href="https://repl.it/languages/python3" title="Відкрити онлайн-редактор коду" target="_blank">Редактор</a>
          <!-- <a class="nav-item nav-link" href="../journal.html" data-toggle="tooltip" data-placement="bottom">Журнал</a> -->
          
          
        </div>
        <div class="nav-phone my-2 my-lg-0">
          <a href="tel:+380956774158" class="nav-item nav-link">+380956774158</a>
        </div>
        </div>
     </div> 
     </nav>
     <!-- nav end -->
     <div class="header-baner container-fluid d-flex justify-content-xl-space-between pb-0 pt-4">       
      <h1 >Тема 16. Flask. Робота з базами даних за допомогою SQLAlchemy. СУБД SQLite.</h1>
    </div>
   <div class="video-arrow rounded-circle" onclick="slowScroll('#lesson')" id="video-arrow" style="width: 50px;">
     <a href="#lesson" >
      <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-arrow-down-circle-fill" fill="rgba(255,255,255, .3)" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
      </svg>
     </a>
   </div>
      <div id="videomeet">
        <iframe allow="camera; microphone; fullscreen; display-capture" src="https://meet.jit.si/teach-py-222" style="height: 100%; width: 100%; border: 0px;" ></iframe>         
      </div>

      <div class="container-xl mt-5" id="lesson" style='min-height: 100vh;'>

        <div class="accordion" id="accordionExample" style=" margin: 50px auto">
          <div class="card">
            <div class="card-header d-flex justify-content-xl-space-between" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link " type="button"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h5>Інформація для роботи ↓</h5> 
                </button>
              </h5>             
            </div>
            <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div class='theory'>
                  <h3>Початок роботи з мікрофреймворком Flask</h3><br>
                        <div class='answer'><ul>
                          <li><code>python -m venv venv</code><b> або </b> <code>python3 -m venv venv</code>- <b>створити віртуальне середовище.</b></li><br>
                 <li><code>venv\Scripts\activate</code> - <b>активувати віртуальне середовище.</b></li><br>
                 <li> <code>pip install Flask </code> <b> або </b> <code>pip3 install Flask </code>- <b>встановити модуль Flask.</b></li><br>
                 <li> <code>pip install flask-login</code> <b> або </b> <code>pip3 install flask-login </code>- <b>встановити модуль FlaskLogin.</b></li><br>
                 <li> <b><code>pip install pip install flask_sqlalchemy</code>  - встановити модуль Flask-SQLAlchemy для роботи з базами даних.</b></li><br>
                </b>
                  </ul></div>
                  <h3>Що ми вивчили з Flask'у?</h3><br>
                        <div class='answer'>
                  <h4>Основні команди для роботи з Flask'ом</h4>
                  <ul>
                      <li><i><b><code>app = Flask(__name__)</code></b></i> - створили екземпляр головного класу.</li>
                      <li><i><b><code>@app.route()</code></b></i> - за допомогою функції route() декоратора нашого екземпляру програми <code>app</code> відслідковуємо URL-адресу.</li>
                      <li><i><b><code>app.run(debug=True)</code></b></i> - запуск веб програми в режимі виведення помилок.</li>
                  </ul></div>
                        <h3>Шаблонізатор Jinja2</h3>
                        <div class='answer'>
                  <p>
                  Команди Jinja2:
                  <ul>
                  <li><b><i><code>{% block name %}<br>{% endblock %}</code></i></b> - створення блоку в базовому шаблоні, яке буде розширювати (доповнювати) інший файл.</li>
                  <br> <li><b><i>
                  <code>
                    {% extends 'file.html' %}<br>
                    {% block name %}<br>{% endblock %}
                  </code></i></b> - підключення базового шаблону, та вставлення блоку в нього.</li>
                  </ul>
                  </p>
                  </div>
                  <h3>Настройка Flask-SQLAlchemy</h3>
                  <div class="answer">
                    <p>Для початку підключаємо модуль Flask-SQLAlchemy</p>
                    <b>
                      <code>
                        from flask_sqlalchemy import SQLAlchemy <br>from flask import Flask
                      </code>
                    </b>
                  </div>
                  <div class='answer'>
                    <p>Потім створюємо веб-додаток та вказуємо підключення до бази даних:</p>
<code>
<pre>
app = Flask(__name__)

app.config['SECRET_KEY']='b9cf9cc366f1311cb1b9ddc540f393eaaab79ba5'
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///app.db'
app.config['SQLALCHEMY_TRACK_MODIFICATIONS']=False

db = SQLAlchemy(app)
</pre>
</code>
<h3>Створюємо 2 таблиці</h3>
<img src="https://proproprogs.ru/htm/flask/files/flask-sqlalchemy-ustanovka-sozdanie-tablic-dobavlenie-zapisey.files/image002.jpg" alt="">
                  
<h3>Робота з базою даних за допомогою SQLAlchemy</h3>
<ul>
  <li><code>res = Users.query.all()</code> - <b>вибрати всі записи з таблиці 'users'</b></li>
  <li><code>f = Users.query.first()</code> - <b>вибрати перший запис з таблиці 'users'</b></li>
  Вибрати дані за фільтром:
  <li><code>
    Users.query.filter_by(id = 1).all()   </code></li>
    <li><code>Users.query.filter(Users.id == 1).all()   </code></li>

  <li><code>Users.query.filter(Users.id > 1).all()</code> </li>
  <li><code>Users.query.limit(2).all()</code> - <b>вибрати максимум 2 результати з таблиці 'users'</b></li>
  <li><code>Users.query.order_by(Users.email).all()</code> або <code>Users.query.order_by(Users.email.desc()).all()</code> - <b>вибрати відсортовані за певним полем рядки таблиці</b></li>
  <li><code>Users.query.get(2)</code> - <b>отримати користувача за допомогою ID</b></li>

</ul>
</div>
                  <h3>Посилання</h3>
                  <div class='answer'>
                  <ul>
                  <li><b><a href='https://sqlitebrowser.org/dl/' target="blank">Програма для перегляду SQLite</a></b></li>
                 <li> <a href="https://bootstrap-4.ru/docs/4.5/" target="_blank"><b>bootstrap-4.ru</b>/</a>  - <b>CSS-фреймворк Bootstrap.</b></li><br>
                 <li> <a href="https://hackerthemes.com/bootstrap-cheatsheet/" target="_blank"><b>hackerthemes.com/bootstrap-cheatsheet/</b>/</a>  - <b>Наочна таблиця з класами Bootstrap4</b></li><br>
                 <li> <a href="https://id.heroku.com/login" target="_blank"><b>heroku.com</b>/</a>  - <b>сервіс для безкоштовного деплою та розміщення веб-додатків</b></li><br>
                  </ul>
                 </div>
                 
                
            </div> 
        </div> 
      </div>  
    </div>  

    <div class="card">
      <div class="card-header d-flex justify-content-xl-space-between align-items-center" id="heading11">
        <h5 class="mb-0">
          <h5>Файли програми. Остання версія: </h5> 
          <a href="https://drive.google.com/drive/folders/15UDtUOfD8nIsG7KgFvNnWDCfJK1EYjPY?usp=sharing" target="_blank" class=" btn-warning btn-lg ml-3" role="button" aria-pressed="true"><b>Завантажити файли</b></a>
        </h5>
        
      </div>
         
    </div> 
</div>

        <!-- accordion  end -->
        <div class="sendform mt-4">
          <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeQIkQW3Dr4X5tnQjH_V_n1iK-twRTprv4WLIc1g_ZG7P3HBw/viewform?embedded=true" width="100%" height="680" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto" seamless>Завантаження…</iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- container end -->
</div>
<!-- main end -->
      <footer class="footer  mt-auto py-3">
        <div class="container">
          <span class="text-muted">©   WebTeach 2020. Всі права застережено</span>
        </div>
      </footer>
      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
			  src="https://code.jquery.com/jquery-3.5.1.min.js"
			  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			  crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript"> 
      function slowScroll(id) { 
          var offset = 0;
          $('html, body').animate({ 
               scrollTop: $(id).offset().top - offset 
          }, 1000);
          
          return false; 
      } 
      
      
 </script>  
    


  </body>
</html>