.sort{
    cursor: pointer;
}
.table{
    font-size: 12px;
}
.table th{
    font-size: 14px;
}
.table-color tr:nth-child(odd){
    background-color: #f2f2f2;
}
.table-color td{
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}
.table-color tr:hover{
    background-color: #d8d8d8;
}
.forms-iframe{
    position: absolute;
    left: -100px;
    top: -100px;
    width: 50px;
    height: 50px;
}
.forms-iframe-image{
    position: absolute;
    left: -200px;
    top: -200px;
    width: 50px;
    height: 50px;
}