html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}
.body-js{
  background-color: #e9edee;
}

.header-wrapper{
  background: linear-gradient(90deg,#375381 0%,#6495ed 100%),#6495ed;
  padding: 0;
  margin: 0;
  width: 100%;
}

.header-wrapper-js{
  padding: 0;
  margin: 0;
  width: 100%;
  background: linear-gradient(45deg, #5d9cfc 0%,#752fc5 100%);
  background-size: 200% 200%;  
  height: -moz-fit-content;;
  height: fit-content;
  width: 100%;
  animation: background 9s ease infinite;
}
.body-js .nav-item.nav-link.active{
  padding: 6px 16px;
  color: #f2f7f7;
}
.body-js .nav-item.nav-link.active:hover{
  border: 2px solid #f2f7f7;
  border-radius: 100px;
  transition: .2s;  
}

@keyframes background { 
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}
.page-header{
  /* min-height: 400px; */
  
  min-height: fit-content;
  min-height: -moz-fit-content;
  min-height: 100vh;
  background: url('/src/python-course/header-baner.png') no-repeat;
  background-size: contain;
  background-position: bottom center;
  width: 100%;
}
.page-header-js{
  background: none;
 }
.body-js-lesson .page-header {
  min-height: 300px;
  min-height: fit-content;
  min-height: -moz-fit-content;
}
#lessonBtn{
  transform: scale(1.1);
}

.go-lesson-btn{
  padding: 0;
  display: block;
  text-decoration: none;
  box-shadow: 0 3px 20px rgb(0 0 0 / 30%);
  border-radius: 20px 20px 20px 20px;
  color:rgb(73, 73, 73);
 
  
}
.go-lesson-btn:hover{
  text-decoration: none;
  box-shadow: 0 3px 20px rgb(0 0 0 / 50%);
  transition-property: all;
  transition-delay: .5s;
  transition: .8s ease-out;
}

.date-time-row{
  color:#4e93dd;
}

.go-lesson-1:hover{
  
  background:  #e9e9e9;
  opacity: 80%;
}
.go-lesson-1{
  border-radius: 20px 20px 0 0;
  background:  #e6f5ff;
  opacity: 90%;
  
 
}

.go-lesson-2:hover{
  background:  #f8f8f8ec;
  opacity: 80%;
}
.go-lesson-2{
  background:  #d9e0e6;
  opacity: 90%;
  border-radius:  0 0 20px 20px;
  border-top: 1px solid rgba(109, 109, 109, 0.767);
}


nav.navbar{
  background: transparent;
} 
.header-title {
  
  display: block;
  margin-top: 80px;
  margin-bottom: 40px;
}
.header-title h1{
  font-weight: 700;
  font-size: 3.5em;
  padding: 0px;
  line-height: 1em;
  text-align: center;

}
.header-title-js {
  
  display: block;
 
}
.header-title-js h1 {
  font-weight: 400;
  font-size: 5em;
  padding: 0px;
  line-height: 1em;
  text-align: center;
  
}
.header-title-js .main-title-js{
font-weight: 900;
  display: block;
  font-size: 6.5em;
  color:  #ffbf00;
}
.bounce a {
  color: white;
  text-decoration: none;
}
.arrow {
  text-align: center;
  margin: 4% 0;
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.header-title .py-title{
  font-weight: 900;
  display: block;
  font-size: 5em;
  color:  #ffbf00;
}
.header-title .py-answer{
  text-align-last: left;
  font-weight: 900;
  display: block;
  padding: 0;
  font-size: 11em;
  color:  #ffbf00;
  line-height: 0.8em;
}
.course-button{
  margin: 30px 0;
}
.course-button button{
  border-radius: 300px;
  font-weight: 500;
  padding: 15px 25px;
  
}
.course-button button:hover{
  background:  linear-gradient(90deg, #ffbf00  0%, rgb(255, 125, 4) 100%);
  /* box-shadow: 0 0 10px 1px #333; */
  color: #212529;
}
.video-button button:hover{
  box-shadow: 0 0 15px 1px #333;
}
.button-play{
  position: relative;
  border: none;
  background:  linear-gradient(90deg, #ffbf00  0%, rgb(255, 125, 4) 100%);
  border-radius: 300px;
  padding: 25px 35px;
  padding-right: 80px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #212529;
  
}
.button-play:after{
  content: "";
  position: absolute;
  width: 65px;
  height: 65px;
  background: #fff url('../video-icon.svg')  center no-repeat;
  background-size: 30px;
  border-radius: 50%;
  right: 0;
  top: 0;
}
.button-play:before{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 81px;
  height: 81px;
  background-color:  rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  right: -7px;
  top: -8px;
}

main{
  min-height: 90%;
  
}
.lesson-list-js{
  padding: 30px;
  
}
#course  h2{
  margin-bottom: 20px;
  font-weight: 700;
  text-align: left;
}
.lesson-list-js h2{
  
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
.lesson-list li, .lesson-list-js li{
  display: block;
  padding: 5px;
}
.lesson-list ol, .lesson-list-js ol{
  padding-left: 0;
}
.lesson-link, .lesson-list-js{
  color: #375381;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
}
.lesson-list-js{
  color: #375381;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
}
.disabled-js-link{
  pointer-events: none;
  color: #375381b4;
}
.lesson-list-js{
  background: #fff;
  margin: 40px;
  box-shadow: rgba(202, 203, 206, 0.25) 0px 20px 40px 0px;
  border-radius: 20px;
}
/*****/
/* LESSON PAGE */
/*****/
.body-js-lesson .header-title-js h1{
  font-size: 1.7em;
  font-weight: 700;
  position: relative;
  bottom: -25px;
}
.body-js-lesson .page-header{
  height: fit-content;
}

.body-js-lesson .go-lesson-btn{
  position: relative;
  bottom: -35px;
}
.body-js-lesson .lesson-list-js{
  cursor: pointer;
}
.collapse-heading{
  box-sizing:border-box;

  position: relative;
  display: block;
  padding-right: 50px;
}
.collapse-heading h4{
  box-sizing:border-box;
  display: block;
  position: relative;
  box-sizing:border-box;
  width: 100%;
}
.collapse-heading::before{
  content: "";
  position: absolute;
  display: block;
  right: 0px;
  top: 50%;
  margin-top: -15px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: url(/src/img/chevron-down.svg) no-repeat center center/17px 17px, -webkit-gradient(linear, left top, left bottom, from(#f6d365), to(#fda085));
  background: url(/src/img/chevron-down.svg) no-repeat center center/17px 17px, linear-gradient(
180deg
, #f6d365 0%, #fda085 100%);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: none;
  transform: none;
}
.collapse-heading.collapsed::before{
  
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  
}

.freebirdFormviewerViewFooterDisclaimer.freebirdDisclaimerColor, 
.freebirdFormviewerViewNavigationPasswordWarning, 
.freebirdFormviewerViewFooterImageContainer.freebirdFormviewerViewFooterPageBreak,
.freebirdFormviewerViewNoPadding{
  display: none !important;
}


.freebirdFormviewerViewNumberedItemContainer{
  border: none;
}

/*****/
/* MEDIA MEDIA MEDIA*/
/*****/

@media (max-width: 575px) { 
  .header-title-js h1{
    font-size: 2em;
  }
  .header-title-js .main-title-js{
    font-size: 3em;
  }
  .go-lesson-btn{
    max-width: 250px;
  }
  .lesson-list-js{
    margin: 30px 0;
  }
  .arrow.bounce{
    margin-bottom: 20px;
  }
}

/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) { 
  .header-title-js h1{
    font-size: 3em;
  }
  .header-title-js .main-title-js{
    font-size: 4em;
    
  }
}

/* md (>=768 и <=991) */
@media(max-width: 991px) { 
  a.nav-item.nav-link.active{
    margin: 0;
  }
  
}

