html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body{
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	
}
.navbar{
	background: linear-gradient(90deg, #375381 0%,#6495ed  100%);
}
.navbar-brand{
	margin-right: 60px;
}

.nav-link{
	font-size: 16px;
	max-width: 170px;
	margin-left:  20px;
}

.nav-phone .nav-link{
	 color: rgba(0,0,0,.5);
}


a.logo{
	font-family: 'Ruda';
	font-weight: bold;
	font-size: 23px;
}
a.logo>span{
	color:#ffbf00;
	font-weight: 900;
	font-size: 25px;
}
.nav-link{
	font-weight: 600;
}
a.conf-button{
	border-radius: 10px;
	background: linear-gradient(90deg, #ffbf00  0%, rgb(251, 135, 26) 100%);
}
a.conf-button:hover{
	box-shadow: 0 0 8px 1px #333;
}

.header-baner{
	width: 100%;
	max-height: 140px;
	background-image: url('/src/python-course/python-header-baner.jpg');
	background-size: cover;
	padding: 90px 10px 110px 10px;
	flex-direction: column;
}
.header-baner h1{
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 1.6em;
	text-shadow: 0px 0px 30px #000;
	padding-bottom: 25px;
}

.tabs-container .nav-item{
	max-width: 120px;
	font-size: 17px;
}
.tabs-container .nav-link{
	border: 2px solid #fff;
	max-width: 120px;
	color: #fff;
	text-shadow: 0px 0px 10px #000;
	background-color: rgba(107, 107, 107, 0.5);
	margin-left: 5px;
}
.tabs-container .nav-link.active{
	border: 2px solid #fff;
	color: #2d4164;
	text-shadow: none;
}
/*-----------*/

.tabs-container .nav{
	justify-content: center;
}
.tab-pane{
	margin-top: 70px;
	margin-bottom: 70px;
	min-height: 500px;
}
#tasks .task{
	text-align: justify;
	margin-top: 50px;
}
#tasks .task h3{
	text-align: center;
	color:  #2d4164;
}
#tasks .sendform{
	width: 100%;
	padding: 0;
	margin-top: 50px;
	background: transparent;
}
#theory h3{
	color:  #2d4164;
 }
#theory .answer{
 margin-bottom: 40px;
}
#answers .task h3{
	text-align: center;
	color:  #2d4164;
}
#tasks img, #answers img{
	max-width: 500px;
	width: 90%;
}
code{
	font-size: 19px;
	color:  #3d00ea;
}
code .comment{
	color:  rgb(87, 87, 87);
}
h1.journal-header{
	font-size: 2em;
}
main{
	min-height: 100%;
}
.journal iframe{
	border: none;
	margin: 50px 0;
	width: 100%;
	height: 230px;
}
.footer{
	background: #333;
}
